<h1>Réinitialisation du mot de passe</h1>

<p>
    <a href="#">Modifier mot de passe</a>.
    Attention, ce lien expire dans 24 heure.
    {{ resetDateHashed }}
</p>

<p>
    Merci, <br>
</p>
