<aside>
    <div class="nav-wrapper">
        <ul>
                <li>
                    <center> 
                            <h3> 
<i class="fa-solid fa-car" style="color: #ffffff;"></i>
                            </h3> 
                        </div> 
                    </center>
                </li>
            <li>
                <a href="/" class="nav-link">Accueil</a>
            </li>
            {% if is_granted("ROLE_USER") %}
                <li>
                    <a href="{{ path('machine_list') }}" class="nav-link"> Véhicules </a>
                </li>
                <li>
                    <a href="{{ path('ticket_list') }}" class="nav-link"> Intervention </a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a href="{{ path('agent_list') }}" class="nav-link"> Utilisateurs </a>
                </li>

                {% endif %}
            {% endif %}
                <li>
                    <a href="{{ path('index') }}" class="nav-link"> Garage ouvert du Lundi au Vendredi de 9h à 19h.</a>
                </li>
        </ul>
    </div>
</aside>