{% extends 'base.html.twig' %}

{% block title %} Demande d'intervention {% endblock %}

	{% block body %}
	<h3><center> Demande d'intervention </center></h3>
	
	<div class="div-centre">
        <p> Précisez : </p><input type="text" class="addButton">
		        <p> Localisation : </p><input type="text" class="addButton"> 
    </div>
	</div>
	{% endblock %}